body {
  margin: 0;
  padding: 0;
  background-color: #385158;

  .main-container {

    header {
      background-color: antiquewhite;
      height: 80px;
    }

    .content-container {
      background-color: lightgreen;


      .content-inner {
        background-color: cadetblue;
        margin: 10% auto;

          .mydiv {
            background-color: darkgrey;
            padding: 10px;
            p {
              margin: 0;
            }
          }

      }
    }
  }
}
