body {
  margin: 0;
  padding: 0;
  background-color: #385158;
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .main-container {

    header {
      background-color: antiquewhite;
      height: 80px;
    }

    .content-container {
      background-color: lightgreen;

      .content-inner {
        background-color: cadetblue;
        margin-top: 10%;
        margin-bottom: 10%;

          .my-div {
            background-color: darkgrey;
            padding: 10px;
            margin: 10px 0;

            p {
              margin: 0;
            }
          }

        .flex-container {
          display: flex;
          flex-direction:row;

          .item {
            display: flex;
            flex-direction: column;
            .my-div {
              flex-grow: 1;
            }
            .my-div:nth-child(2) {
              align-self: flex-end;
              height:105px;
            }
          }
          .item.one {
            .my-div:nth-child(1) {
              flex-grow: 1;
            }
          }
        }

      }
    }
  }
}


// Usage
@media (max-width: 768px) {
  .item.two {
    order:-1;
    font-weight: bold;
  }
}
