
.container {
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  margin-bottom: 20px;
  .item {
    width: 50px;
    border: 1px solid black;
    margin: 10px;
    height: 50px;
    text-align: center;
    line-height: 50px;
  }
  .item:nth-child(1) {
    background-color: yellow;
  }
  .item:nth-child(6) {
    background-color: blue;
  }
}

.container-1 {
  flex-direction: row-reverse;

}

.container-2 {
  flex-direction: column;
}

.container-3 {
  flex-direction: column-reverse;
}

.container-4 {
  flex-wrap: wrap;
}

.container-4 .item, .container-5 .item {
  width: 30%;
}

.container-5 {
  flex-wrap: wrap-reverse;
}

.container-6 {
  /*justify-content: flex-start; /*left*/
  justify-content: flex-end; /*right*/
}

.container-7 {
  justify-content: center;
}

.container-8 {
  justify-content: space-between;
}

.container-9 {
  justify-content: space-around;
}

.container-10 {
  height: 100px;
  /*align-items: flex-start; /*top*/
  align-items: flex-end; /*bottom*/
}

.container-11 {
  height: 100px;
  align-items: stretch; /*height 100%*/

  .item {
    height: initial;
  }
}

